## Question 01 - Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
## Answer :- 

import pandas as pd

# create a Pandas Series
series = pd.Series([4, 8, 15, 16, 23, 42])

# print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In the above example, we first imported the Pandas library and then created a Series using the pd.Series() method. We passed the data [4, 8, 15, 16, 23, 42] as an argument to create the Series. Finally, we printed the Series using the print() function.

## Question 02 - Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
# Answer :- 

import pandas as pd

# create a list containing 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# create a Pandas Series from the list
my_series = pd.Series(my_list)

# print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Question 03 - Create a Pandas DataFrame that contains the following data:

In [4]:
# Answer :-

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Question 04 - What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# Answer :-

In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, where each column can have a unique data type and can contain multiple rows of data.

On the other hand, a pandas Series is a one-dimensional labeled array that can contain any data type, such as integers, floats, strings, and even other objects. It can be thought of as a single column of data from a DataFrame.

In [8]:
import pandas as pd

# create a dictionary of data for a DataFrame
data = {'Name': ['Gourav', 'Rotit', 'Devansh', 'Ajay'],
        'Age': [25, 30, 35, 40],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      Name  Age Occupation
0   Gourav   25   Engineer
1    Rotit   30     Doctor
2  Devansh   35    Teacher
3     Ajay   40     Lawyer

In [9]:
# create a Series from the 'Name' column of the DataFrame
name_series = df['Name']

# print the Series
print(name_series)

0     Gourav
1      Rotit
2    Devansh
3       Ajay
Name: Name, dtype: object

In this example, we first create a dictionary of data for a DataFrame. We then use this dictionary to create a DataFrame using the pd.DataFrame() function. The resulting DataFrame has 3 columns ('Name', 'Age', 'Occupation') and 4 rows of data.

Next, we create a Series by extracting the 'Name' column from the DataFrame using the indexing operator []. The resulting Series contains only the 'Name' column data from the original DataFrame and has the same number of rows as the original DataFrame.

So, in summary, a DataFrame is a 2-dimensional data structure with multiple columns of potentially different data types, while a Series is a 1-dimensional data structure with a single column of data.

## Question 05 - What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

# Answer :-

Pandas DataFrame offers many built-in functions to manipulate data, some of which are:

1. merge(): to combine two data frames using a common key.
Example: When you have two different datasets with a common column, such as an ID, you can use merge() function to join them into a single dataset.

2. groupby(): to group rows of a DataFrame based on the values in one or more columns and perform aggregate functions on them.
Example: When you want to calculate the average salary of employees by department, you can use groupby() function to group the employees by department and then calculate the mean salary.

3. apply(): to apply a function to each element of a DataFrame.
Example: When you want to convert all the values of a column to uppercase, you can use apply() function with the upper() method.

4. pivot_table(): to create a spreadsheet-style pivot table as a DataFrame.
Example: When you want to summarize data and show the relationship between two columns, you can use pivot_table() function to create a pivot table.

5. fillna(): to fill missing values in a DataFrame with a specified value or method.
Example: When you have missing data in a dataset, you can use fillna() function to fill the missing values with the mean, median, or any other method of your choice.

## Question 06 - Which of the following is mutable in nature Series, DataFrame, Panel?

# Answer :- 

Both Series and DataFrame are mutable in nature, while Panel is considered deprecated and no longer recommended for use.

In pandas, mutability means that the data can be modified after it has been created. Both Series and DataFrame can be modified by assigning new values or adding/deleting rows or columns. For example, you can add a new column to a DataFrame by assigning a new Series to it:

In [10]:
import pandas as pd

data = {'name': ['Gourav', 'Khushi', 'Ajay'], 'age': [25, 30, 35]}
df = pd.DataFrame(data)

# add a new column
df['gender'] = ['male', 'female', 'male']

# modify a value
df.at[1, 'age'] = 31

# delete a row
df = df.drop(2)

In [14]:
print(df)

     Name  Age  Gender
0    Niku   25  Female
1  Gourav   30    Male
2  Gunjan   27  Female

In the above example, we add a new column called 'gender' by assigning a new Series to it. We modify the age of the second row by using the .at method to access a specific value. Finally, we delete the third row using the .drop method.

## Question 07 - Create a DataFrame using multiple Series. Explain with an example.

In [12]:
# Answer :-

# To create a DataFrame using multiple Series, we can pass a dictionary of Series to the pd.DataFrame() constructor. Each Series becomes a column in the resulting DataFrame.

import pandas as pd

# create Series for each column
names = pd.Series(['Niku', 'Gourav', 'Gunjan'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

In [13]:
# create DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# print the DataFrame
print(df)

     Name  Age  Gender
0    Niku   25  Female
1  Gourav   30    Male
2  Gunjan   27  Female

In this example, we create three Series for the columns "Name", "Age", and "Gender". We then pass a dictionary containing these Series to the pd.DataFrame() constructor, which creates a DataFrame with these columns.